1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [28]:
my_list = []
for i in range(1, 101):
    if i%15 == 0:
        my_list.append("Micky Mouse")
    elif i%5 == 0:
        my_list.append("Mouse")
    elif i%3 == 0:
        my_list.append("Micky")
    else:
        my_list.append(i)
print(my_list)

[1, 2, 'Micky', 4, 'Mouse', 'Micky', 7, 8, 'Micky', 'Mouse', 11, 'Micky', 13, 14, 'Micky Mouse', 16, 17, 'Micky', 19, 'Mouse', 'Micky', 22, 23, 'Micky', 'Mouse', 26, 'Micky', 28, 29, 'Micky Mouse', 31, 32, 'Micky', 34, 'Mouse', 'Micky', 37, 38, 'Micky', 'Mouse', 41, 'Micky', 43, 44, 'Micky Mouse', 46, 47, 'Micky', 49, 'Mouse', 'Micky', 52, 53, 'Micky', 'Mouse', 56, 'Micky', 58, 59, 'Micky Mouse', 61, 62, 'Micky', 64, 'Mouse', 'Micky', 67, 68, 'Micky', 'Mouse', 71, 'Micky', 73, 74, 'Micky Mouse', 76, 77, 'Micky', 79, 'Mouse', 'Micky', 82, 83, 'Micky', 'Mouse', 86, 'Micky', 88, 89, 'Micky Mouse', 91, 92, 'Micky', 94, 'Mouse', 'Micky', 97, 98, 'Micky', 'Mouse']

In [29]:
your_list = [i for i in range(1, 101)]
for i in your_list:
    if i%15 == 0 :
        your_list[i-1] = "Micky Mouse"
    elif i%5 == 0 :
        your_list[i-1] = "Mouse"
    elif i%3 == 0 :
        your_list[i-1] = "Micky"
    else:
        a[i-1] = i
print(your_list)

[1, 2, 'Micky', 4, 'Mouse', 'Micky', 7, 8, 'Micky', 'Mouse', 11, 'Micky', 13, 14, 'Micky Mouse', 16, 17, 'Micky', 19, 'Mouse', 'Micky', 22, 23, 'Micky', 'Mouse', 26, 'Micky', 28, 29, 'Micky Mouse', 31, 32, 'Micky', 34, 'Mouse', 'Micky', 37, 38, 'Micky', 'Mouse', 41, 'Micky', 43, 44, 'Micky Mouse', 46, 47, 'Micky', 49, 'Mouse', 'Micky', 52, 53, 'Micky', 'Mouse', 56, 'Micky', 58, 59, 'Micky Mouse', 61, 62, 'Micky', 64, 'Mouse', 'Micky', 67, 68, 'Micky', 'Mouse', 71, 'Micky', 73, 74, 'Micky Mouse', 76, 77, 'Micky', 79, 'Mouse', 'Micky', 82, 83, 'Micky', 'Mouse', 86, 'Micky', 88, 89, 'Micky Mouse', 91, 92, 'Micky', 94, 'Mouse', 'Micky', 97, 98, 'Micky', 'Mouse']

In [32]:
for i in range(len(your_list)):
    if your_list[i] == "Micky":
        your_list[i] = "Donald"
    elif your_list[i] == "Mouse":
        your_list[i] = "Duck"
my_tuple = tuple(your_list)        
print(my_tuple)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Micky Mouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Micky Mouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Micky Mouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Micky Mouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Micky Mouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Micky Mouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [33]:
def swap_func(x, y):
    x, y = y, x
    return x, y

In [35]:
a = 10
b = 20
a, b = swap_func(a, b)
print("Swapped values - a:", a, "b:", b)

Swapped values - a: 20 b: 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
def distance_calculator(a, b):
    try:
        c = ((a[0]-b[0])**2+(a[1]-b[1])**2)**0.5
        return c
    except:
        print("error! Please just enter 2 tuples as the coordinates  of the points")
        return None

distance_calculator(('a', 0), (0, 4))

error! Please just enter 2 tuples as the coordinate of the points

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [3]:
# Generating a to z letters
from string import ascii_lowercase as letters

#This function calculates the number of times each character occurs in the given string
def count_characters(s):
    # Convert the string to lowercase to ignore case differences
    s = s.lower()
    # Create a dictionary to store character counts
    char_counts = {}
    # Iterate through each character in the string
    for char in s:
        # Check if the character is a letter
        if char in letters:
            # Update the count in the dictionary
            char_counts[char] = char_counts.get(char, 0) + 1
    return char_counts

# Example usage:
result = count_characters(s)

# Print the character counts
for char, count in result.items():
    print(f"{char}: {count}")

w: 2
r: 17
i: 14
t: 19
e: 22
a: 7
p: 8
o: 13
g: 1
m: 12
h: 9
n: 10
s: 9
u: 9
b: 5
f: 10
l: 6
c: 3
k: 2
y: 2
d: 3
v: 2

In [5]:
#This function calculates the number of times each character occurs in the given string
def count_characters(s):
    # Convert the string to lowercase to ignore case differences
    s = s.lower()
    # Create a dictionary to store character counts
    char_counts = {}
    # Iterate through each character in the string
    for char in s:
        # Check if the character is a letter
        if char.isalpha():
            # Update the count in the dictionary
            char_counts[char] = char_counts.get(char, 0) + 1
    return char_counts

# Example usage:
result = count_characters(s)

# Print the character counts
for char, count in result.items():
    print(f"{char}: {count}")

w: 2
r: 17
i: 14
t: 19
e: 22
a: 7
p: 8
o: 13
g: 1
m: 12
h: 9
n: 10
s: 9
u: 9
b: 5
f: 10
l: 6
c: 3
k: 2
y: 2
d: 3
v: 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [16]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [28]:
def count_unique_numbers(lst):
    # Use a set to store unique numbers
    unique_numbers = set(lst)

    # Create a dictionary to store counts of each unique number
    counts = {}

    # Iterate through the unique numbers
    for num in unique_numbers:
        # Count occurrences of each unique number in the original list
        counts[num] = lst.count(num)

    return counts

# Example usage:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

result = count_unique_numbers(l)

# Print the counts of each unique number
for num, count in result.items():
    print(f"{num}: {count}")

1: 1
3: 2
5: 1
8: 1
9: 1
10: 1
16: 1
18: 1
19: 1
20: 3
24: 1
30: 1
31: 2
33: 1
34: 2
36: 3
37: 1
39: 1
41: 1
42: 2
45: 3
47: 1
50: 2
51: 3
53: 1
54: 1
55: 1
56: 2
57: 1
58: 1
63: 2
64: 1
66: 2
70: 3
72: 1
74: 1
75: 1
79: 1
81: 1
82: 1
84: 4
85: 3
86: 1
87: 1
88: 1
89: 2
90: 1
91: 3
92: 1
94: 1
95: 1
96: 1
98: 1
99: 1

In [27]:
def unique_count(l):
    my_set = set(l)
    uniques = []
    my_dic = {}
    for i in my_set:
        my_dic[str(i)] = 0
    for i in l:
        my_dic[str(i)] += 1
    for i, j in my_dic.items():
        print(f"{i}: {j}")
        if j == 1:
            uniques.append(int(i))
    print(f'Unique numbers: {uniques}\n number of uniques: {len(uniques)}')    
    return
unique_count(l)

1: 1
3: 2
5: 1
8: 1
9: 1
10: 1
16: 1
18: 1
19: 1
20: 3
24: 1
30: 1
31: 2
33: 1
34: 2
36: 3
37: 1
39: 1
41: 1
42: 2
45: 3
47: 1
50: 2
51: 3
53: 1
54: 1
55: 1
56: 2
57: 1
58: 1
63: 2
64: 1
66: 2
70: 3
72: 1
74: 1
75: 1
79: 1
81: 1
82: 1
84: 4
85: 3
86: 1
87: 1
88: 1
89: 2
90: 1
91: 3
92: 1
94: 1
95: 1
96: 1
98: 1
99: 1
Unique numbers: [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]
 number of uniques: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [30]:
def square(x):
    return x ** 2

def cube(x):
    return x ** 3

def sixth_power(x):
    # Calculate the square using the square function
    x_squared = square(x)
    # Calculate the cube of squared x using the cube function
    x_squared_cubed = cube(x_squared)
    return x_squared_cubed

# Example usage:
number = 2

# Calculate and print the square of the number
print(f"Square of {number}: {square(number)}")

# Calculate and print the cube of the number
print(f"Cube of {number}: {cube(number)}")

# Calculate and print the 6th power of the number using the two functions
print(f"6th power of {number}: {sixth_power(number)}")

Square of 2: 4
Cube of 2: 8
6th power of 2: 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [33]:
cubes_for_loop = []

for x in range(11):  # Range from 0 to 10 (inclusive)
    cubes_for_loop.append(x ** 3)

print("Cubes using a for loop:", cubes_for_loop)

Cubes using a for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [34]:
cubes_list_comprehension = [x ** 3 for x in range(11)]

print("Cubes using list comprehension:", cubes_list_comprehension)

Cubes using list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [50]:
# Using a nested list comprehension to find Pythagorean triples
triples = [(a, b, c) for a in range(1, 100) for b in range(a, 100) for c in range(b, 100) if a**2 + b**2 == c**2]

# Print the list of Pythagorean triples
for triple in triples:
    print(triple)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [60]:
def normalization(input_tuple):
    norm = 0
    for i in input_tuple:
        norm += i**2
    norm = norm**0.5
    normalized_tuple = tuple(element / norm for element in input_tuple)
    return normalized_tuple

input_tuple = (5,15,43)
normalized_result = normalization(input_tuple)
print("Original tuple:", input_tuple)
print("Normalized tuple:", normalized_result)

1.0
Original tuple: (5, 15, 43)
Normalized tuple: (0.10913493271991719, 0.32740479815975154, 0.9385604213912877)